body {
    background-color: #1f2022;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

section {
    padding: 20px 10%;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    color: white;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-shadow: 5px 10px 5px rgb(0 0 0/60%);
    text-align: center;
    transition: ease 0.5s;
}

.destination-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

.col-content {
    position: relative;
}

.col-content img:hover{
    filter: brightness(100%);
    transform: scale(1.24);
    cursor: pointer;
    transition: ease 0.5s;
    box-shadow: 1px 2px 20px rgb(200 200 200/90%);
 }

.col-content img{
    width: 270px;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.445,.05.55.95);
    will-change: filter;
    margin-top: 50px;
    transition: ease 0.6s;
 }


.home-btn {
    text-align: center;
    display: flex;
    width: 140px;
    font-size: 16px;
    padding: 15px 30px;
    background: #ffffffbf;
    color: black;
    transition: ease 0.5s;
    border-radius: 30px;
    font-weight: 700;
}

    .home-btn:hover {
        background: #ffffffbf;
        transform: scale(1.1);
        box-shadow: 1px 2px 20px rgb(0 0 0/90%);
    }

.col-content i {
    color: #Ffd700;
}

.col-content p {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: white;
    left: 15px;
    bottom: 20px;
    letter-spacing: 2px;
}